@use '../../base/mixins' as *;

.contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-10);
  margin-top: 2rem;

  .layer-area {
    position: relative;
    width: calc(100% - var(--space-5));
    aspect-ratio: 1;

    .layer {
      position: absolute;
      inset: 0;
      will-change: transform;
    }
  }
  .content-area {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: calc(80% - var(--space-5));
  }
}
.about-title {
  font-family: 'Marck Script';
  @include fluid-step(24, 36);
}
.text-wrap p {
  font-size: 1.2rem;
}
.about-body {
}

@include respond(max, md) {
  .contents {
    flex-direction: column;

    .layer-area {
      width: 100%;
    }
    .content-area {
      width: 100%;

      .about-title {
        text-align: center;
      }
    }
  }
}
