@use '../../base/mixins' as *;

.section-title {
  @include fluid-step(40, 96);
  text-align: center;
  overflow: hidden;
}
.char {
  display: inline-block;
  opacity: 0;
  will-change: transform;
  font-family: 'Playfair Display';
  font-size: inherit;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.btn-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 3rem;
}

@include respond(max, md) {
  .btn-wrap {
    justify-content: center;
  }
}

@include respond(max, sm) {
  .section-title {
    font-size: 50px;
  }
}
