@use '../../base/mixins' as *;

.section-title {
  @include fluid-step(36, 100);
  font-weight: 600;
  overflow: hidden;

  span:not(.char) {
    margin-inline: 0.5rem;
  }
}
.char {
  display: inline-block;
  will-change: transform;
  font-family: 'Playfair Display';
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
}

.btn-wrap {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
