@use '../../base/mixins' as *;

.section-title {
  @include fluid-step(36, 100);
  text-align: center;
  overflow: hidden;

  span:not(.char) {
    margin-inline: 0.5rem;
  }
}
.char {
  display: inline-block;
  will-change: transform;
  font-family: 'Playfair Display';
  font-size: inherit;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
}

/* ===== util ===== */
.text-block {
  display: block;
}
.text-gap-sm {
  margin-top: 0.5rem;
}
.text-gap-md {
  margin-top: 1rem;
}
.text-gap-lg {
  margin-top: 1.5rem;
}
