@use '../../base/mixins' as *;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.layout {
  width: 100%;
  height: calc(100dvh - (var(--header-offset)));
  transform: translateY(calc(var(--header-offset) / 2));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}
.contents {
  display: flex;
  flex-direction: column;
  position: relative;
}
.title-inner {
  width: 80vw;
  max-width: 1920px;
  height: 25vw;
  margin-inline: auto;
  z-index: 1;

  .title {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: clamp(50px, 9.5vw, 10.5vw);

    .bottom {
      position: absolute;
      inset: auto 0 0 auto;
    }
  }
}
.sub-title {
  margin-bottom: -2%;
  @include fluid-step(12, 14);
  font-weight: 700;
  color: rgba(46, 42, 38, 0.85);
  opacity: 0;
  z-index: 1;
}
.tagline {
  position: relative;
  align-self: flex-end;
  width: fit-content;
  margin-top: -0.4%;
  padding: 0.2rem 2rem;
  border-radius: 0.2rem;
  @include font(10, var(--color-on-primary));
  overflow: hidden;
  opacity: 0;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-on-surface);
    border-radius: inherit;
    z-index: -1;
  }
}
.links {
  margin-top: 5rem;
  opacity: 0;
  z-index: 1;
}

.hero-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;

  .bg-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .layer {
    position: absolute;
    will-change: transform;
  }
  .cloud {
    width: clamp(520px, 36vw, 700px);

    &.left {
      top: -180px;
      left: -150px;
    }
    &.right {
      bottom: -100px;
      right: -280px;
    }
  }
  .sun {
    width: clamp(460px, 36vw, 700px);
    top: 30px;
    right: 10%;
  }
  .img-inner {
    width: 100%;
    height: 100%;
    will-change: transform, opacity;
    opacity: 0;

    img {
      width: 100%;
    }
  }
}

@keyframes tagline-fill {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@include respond(max, lg) {
  .title-inner {
    width: 90vw;
  }
  .tagline {
    margin-top: 0;
    font-size: 12px;
  }
  .sub-title {
    font-size: 14px;
  }
}

@include respond(max, md) {
  .hero-bg {
    .sun {
      width: 60%;
      top: 20%;
    }
  }
}

@include respond(max, sm) {
  .title-inner {
    width: calc(100vw - 48px);
    height: 30.5vw;

    .title {
      font-size: clamp(40px, 11.5vw, 12vw);
    }
  }
  .tagline {
    padding: 2px 10px;
  }
}

@include respond(max, xs) {
  .title-inner {
    height: 30.5vw;

    .title {
      font-size: 38px;
    }
  }
}
