@use '../base/mixins' as *;

.footer {
  width: 100%;
  padding: 20px 0;
  color: var(--color-text-inverse);
  background-color: var(--color-secondary);
  z-index: 10;

  .layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    font-size: 14px;
  }
  .description {
    font-weight: 700;
  }
}

@include respond(max, md) {
  .layout {
    flex-direction: column;
    gap: 8px;
  }
}
