@use '../index' as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid $color-surface;
  backdrop-filter: blur(6px);
  z-index: layer('sticky');
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--space-2);
  }
}
