@use '../base/mixins' as *;

.header {
  position: fixed;
  inset: 0 0 auto 0;
  color: var(--color-text-inverse);
  mix-blend-mode: difference;
  z-index: layer('sticky');

  a,
  button {
    color: inherit;
  }
  svg {
    stroke: currentColor;
  }
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(20px, 3rem, 50px);
    width: 100%;
    height: 80px;
  }
}

@include respond(min, md) {
  .header {
    will-change: transform opacity;
    opacity: 0;

    a,
    button {
      &::before,
      &::after {
        background-color: var(--color-text-inverse);
      }
    }
  }
}

@include respond(max, md) {
  .header {
    color: var(--color-text);
    mix-blend-mode: normal;
    backdrop-filter: blur(4px);

    &-inner {
      height: 70px;
    }
  }
}
