@use '../index' as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  backdrop-filter: blur(6px);
  z-index: layer('sticky');

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-10);
    width: 100%;
    padding-block: var(--space-5);
  }
}

@media (max-width: 767px) {
  .header {
    &-inner {
      padding-block: var(--space-4);
    }
  }
}
