@use '../index' as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  backdrop-filter: blur(6px);
  z-index: layer('sticky');

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(20px, 3rem, 50px);
    width: 100%;
    padding-block: 24px;
  }
}

@media (max-width: 767px) {
  .header {
    &-inner {
      padding-block: 18px;
    }
  }
}
