@use '../index' as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  backdrop-filter: blur(6px);
  z-index: layer('sticky');

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--space-4);
  }
}
