@use '../base/mixins' as *;

.header {
  position: fixed;
  inset: 0 0 auto 0;
  color: var(--color-text-inverse);
  mix-blend-mode: difference;
  z-index: layer('sticky');

  a,
  button {
    color: inherit;
  }
  svg {
    stroke: currentColor;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(20px, 3rem, 50px);
    width: 100%;
    padding-block: 24px;
  }
}

@include respond(min, md) {
  .header {
    a,
    button {
      &::before,
      &::after {
        background-color: var(--color-text-inverse);
      }
    }
  }
}

@include respond(max, md) {
  .header {
    color: var(--color-text);
    mix-blend-mode: normal;

    &-inner {
      padding-block: 18px;
    }
  }
}
