.nav {
  .menu {
    display: flex;
    gap: var(--space-8);

    &:has(.menu-item:hover, .menu-item:focus-within) .menu-item:not(:hover):not(:focus-within) a {
      color: var(--color-text-muted);
    }
  }
}
