@use '../base/mixins' as *;

.notfound {
  min-height: calc(100dvh - 61px) !important;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100dvh - 61px);
  padding: 80px 24px;
}
.error-title {
  margin-block: 8px;
  font-size: 128px;
  font-weight: 700;
}
.content {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.icon {
  position: absolute;
  opacity: 0.2;
  animation: float 3s var(--ease-power1-in-out) infinite;

  &:first-of-type {
    left: 0;
    top: -38%;
  }
  &:last-of-type {
    right: 0;
    bottom: 3%;
    animation-duration: 3.5s;
    animation-timing-function: var(--ease-power2-in-out);
  }
}
.title {
  margin-block: 10px;
  font-size: 24px;
  font-weight: 700;
}
.description {
  margin-bottom: 30px;

  p {
    font-size: 16px;
  }
}
.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 12px 24px;
  color: var(--color-text-inverse);
  background-color: var(--color-primary-active);
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color-primary);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@include respond(max, md) {
  .notfound {
    min-height: calc(100dvh - 90px) !important;
  }
  .container {
    min-height: calc(100dvh - 90px);
  }
}

@include respond(max, sm) {
  .icon:first-of-type {
    top: -70%;
  }
}
