@use '../../base/mixins' as *;

.detail {
  padding-block: calc(var(--header-offset) + 40px) 60px;
}
.layout {
  max-width: 2200px;
  padding-inline: 15%;
}
.divider {
  height: 4px;
  background-color: var(--color-text);
  border-radius: 2px 0 4px 2px;
  transform: scale(0);
  transform-origin: bottom left;
  animation: scale-in-left 0.8s var(--transition-main) 0.4s forwards;
  transition: background-color 0.4s;
}

.thumb-wrap {
  width: 100%;
  aspect-ratio: 12 / 7;
  margin-bottom: 2rem;

  img {
    width: 100%;
    border-radius: 40px 40px 4px 4px;
    box-shadow: var(--shadow-lg);
  }
}
.title-wrap {
  .title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    animation: drop-in 0.5s var(--transition-main) 0.4s forwards;
  }
}
.info-wrap {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  align-items: flex-start;
  gap: 1rem;
  margin-block: 2rem;

  .label:has(+ .value.is-single) {
    grid-column: 1;
  }
  .value.is-single {
    grid-column: 2 / -1;
  }
}
.label {
  align-self: flex-start;
  display: inline-block;
  padding: 6px 16px;
  @include font(13, var(--color-text-inverse), 700);
  text-align: center;
  background-color: var(--color-on-surface);
  border-radius: 20px;
  box-shadow: var(--shadow-sm);
  white-space: nowrap;
}
.value {
  margin-top: 2px;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: var(--lh-loose);

  .link {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.contents {
  padding-bottom: 2rem;
}
.description {
  margin-block: 2rem;

  .value {
    margin-top: 1rem;
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &:first-of-type {
    margin-top: 2rem;
  }
  & + .content {
    margin-top: 3.2rem;
  }
}
.heading-wrap {
  display: flex;
  align-items: center;

  svg {
    height: 36px;
    fill: var(--color-on-surface);
    margin: 2px 1rem 0 0;
  }
  .heading {
    @include font(16, var(--color-on-surface), 700);
  }
}
.img-list {
  display: flex;
  justify-content: space-around;

  &.is-double {
    .img-wrap {
      max-width: 300px;
    }
  }
  .img-wrap {
    width: 100%;

    img {
      width: 100%;
      border-radius: 4px;
      box-shadow: var(--shadow-lg);
    }
  }
}

@keyframes scale-in-left {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes drop-in {
  0% {
    transform: translateY(-105%);
  }
  100% {
    transform: translateY(0);
  }
}

@include respond(max, xl) {
  .layout {
    padding-inline: 10%;
  }
}

@include respond(max, lg) {
  .layout {
    padding-inline: 5%;
  }
  .title-wrap {
    .title {
      font-size: 40px;
    }
  }
  .label,
  .value {
    font-size: 18px;
  }
  .heading-wrap {
    .heading {
      font-size: 24px;
    }
  }
}

@include respond(max, md) {
  .layout {
    padding-inline: 0;
    @include container($gutter: 24px);
  }
  .thumb-wrap {
    margin-bottom: 32px;
  }
  .title-wrap {
    .title {
      margin-bottom: 16px;
    }
  }
  .label {
    padding: 6px 12px;
  }
  .info-wrap {
    grid-template-columns: auto 1fr;
    gap: 16px;
    margin-block: 32px;

    .value.is-single {
      grid-column: auto;
    }
  }
  .contents {
    padding-bottom: 32px;
  }
  .description {
    margin-block: 32px;

    .value {
      margin-top: 16px;
    }
  }
  .content {
    gap: 32px;

    &:first-of-type {
      margin-top: 32px;
    }
    & + .content {
      margin-top: 48px;
    }
  }
}
