@import 'tailwindcss';

@theme {
  --color-brand: #1f2937;
  --radius-card: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --radius: 1rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-weight: 400;
}
.container {
  max-width: 1100px;
  margin-inline: auto;
}
.card {
  border-radius: var(--radius);
}
/* code,
pre,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, 'Liberation Mono', monospace;
} */
