@use 'sass:math';
@use 'sass:meta';

/* 숫자에서 단위 제거 */
@function strip-unit($value) {
  @if meta.type-of($value) == number {
    @return math.div($value, $value * 0 + 1);
  }
  @return $value;
}

/* px → rem (10px = 1rem 기준) */
@function rem($px) {
  @return math.div($px, 10) * 1rem;
}
