.curtain {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none;
}
.panel {
  position: absolute;
  top: 0;
  width: 50.5%;
  height: 100%;
  background-color: var(--color-primary-active);
}

.left {
  @extend .panel;
  left: 0;
}
.right {
  @extend .panel;
  right: 0;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transform: translateY(20px);
  z-index: 10;

  .logo_wrap {
    img {
      filter: brightness(0) invert(1);
    }
  }
  .progress_container {
    width: 150px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    overflow: hidden;

    .progress_bar {
      width: 100%;
      height: 100%;
      background-color: var(--color-secondary);
      transform: scaleX(0);
      transform-origin: left;
    }
  }
}
