@use '@/styles/base/mixins' as m;

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 4;
  @include m.font20($weight: 700);

  .image-wrap {
    position: relative;
    width: 2rem;
  }
}

@media (min-width: 768px) {
}
