@use '@/styles/base/mixins' as m;

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  @include m.font20(var(--color-grey-50), 600);

  .image-wrap {
    position: relative;
    width: 4rem;
  }
}

@media (min-width: 768px) {
  .logo {
  }
}
