@use '@/styles/base/mixins' as *;

.logo {
  flex: none;
  display: flex;
  align-items: center;
  z-index: 4;

  .img-wrap {
    position: relative;
    width: clamp(20px, 20px + 0.4vw, 24px);
  }
  .text-wrap {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    transition: grid-template-columns 0.6s cubic-bezier(0.77, 0, 0.175, 1);

    .text-inner {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .text {
      display: block;
      width: auto;
      padding-left: 10px;
      font-size: 20px;
      font-weight: 900;
      overflow: hidden;
    }
  }
}
:global(html.is-scrolled) .logo .text-wrap {
  grid-template-columns: 0fr;
}

@include respond(max, md) {
}
