@use '@/styles/base/mixins' as *;

.logo {
  flex: none;
  display: flex;
  align-items: center;
  z-index: 4;

  .image-wrap {
    position: relative;
    width: 2rem;
  }
  .text-wrap {
    display: grid;
    grid-template-columns: 1fr;
    line-height: 1;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);

    .text-inner {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .text {
      display: inline-block;
      width: auto;
      margin-left: 1rem;
      @include font20($weight: 900);
      overflow: hidden;
    }
  }
}
:global(html.is-scrolled) .logo .text-wrap {
  grid-template-columns: 0fr;
}

@media (max-width: 767px) {
}
