@use '../base/mixins' as *;

.project-item {
  position: relative;
  overflow: hidden;
  opacity: 0;
  clip-path: inset(0 0 0 100%);
  will-change: transform, opacity, clip-path;

  &:focus-within {
    @include focus-ring;
  }
  &:hover {
    .title-wrap {
      transform: translate(0);

      svg {
        fill: var(--color-primary);
      }
      .title {
        font-size: 2.1rem;
        letter-spacing: 0.01em;
      }
    }
    .category {
      transform: translate(-10px);
    }
  }
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-bottom: 2px solid var(--color-on-surface);

  .title-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 0;
    margin-right: -30px;
    transform: translate(-30px);
    transition: transform 0.2s;

    svg {
      flex: 0 0 52px;
      height: 60px;
      fill: var(--color-secondary);
      transition: fill 0.2s;
    }
    .title {
      font-size: 1.7rem;
      font-weight: 700;
      transform-origin: left;
      transition: font-size 0.4s, letter-spacing 0.4s;
    }
  }
  .category {
    font-size: 1.4rem;
    font-weight: 700;
    transform-origin: right;
    transition: transform 0.2s;
  }
}

@include respond(max, md) {
  .project-item:hover {
    .title-wrap {
      .title {
        font-size: 24px;
        letter-spacing: 0;
      }
    }
  }
  .inner {
    gap: 12px;

    .title-wrap {
      .title {
        font-size: 24px;
      }
    }
    .category {
      font-size: 16px;
    }
  }
}

@include respond(max, sm) {
  .project-item:hover {
    .title-wrap {
      transform: translate(-30px);
    }
    .category {
      transform: translate(0);
    }
  }
  .inner {
    .title-wrap {
      svg {
        flex-basis: 43px;
        height: 50px;
      }
    }
  }
}
