@use '@/styles/base/mixins' as *;

.link {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: var(--color-primary);
  isolation: isolate;
  --char-delay: 20ms;
  --dur: 400ms;
  --easing: cubic-bezier(0.22, 1, 0.36, 1);
  --slideY: 100%;
  --bracket-gap: var(--space-1);

  &.is-active {
    color: var(--color-primary-active);
  }
}

.text-inner {
  position: relative;
  display: inline-grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  line-height: 1;

  .text {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: inline-flex;
    height: 1.1em;
    overflow: hidden;

    &.top .char {
      transform: translateY(0);
    }
    &.bottom .char {
      transform: translateY(var(--slideY));
    }
  }
  .char {
    display: inline-block;
    font-size: inherit;
    color: inherit;
    text-transform: uppercase;
    transform: translateY(0);
    will-change: transform;
    transition: transform var(--dur) var(--easing);
    transition-delay: calc(var(--i) * var(--char-delay));
  }
}

.with-brackets {
  position: relative;
  padding-inline: 16px;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 300;
    opacity: 0.85;
    transition: transform var(--dur) var(--easing), opacity 200ms ease;
    pointer-events: none;
    will-change: transform;
  }
  &::before {
    content: '[';
    left: 4px;
  }
  &::after {
    content: ']';
    right: 4px;
  }
}

.btn {
  flex: 1;
  padding: 0.8rem 2rem;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  transition: background-color 0.3s;

  &:hover {
  }
}

@include respond(min, md) {
  .link:hover .top .char,
  .link:focus-visible .top .char,
  .link.is-active .top .char,
  .is-active .top .char {
    transform: translateY(calc(var(--slideY) * -1));
  }
  .link:hover .bottom .char,
  .link:focus-visible .bottom .char,
  .link.is-active .bottom .char,
  .is-active .bottom .char {
    transform: translateY(0);
  }

  .link:hover .with-brackets::before,
  .link:focus-visible .with-brackets::before,
  .link.is-active .with-brackets::before,
  .is-active .with-brackets::before {
    font-weight: 900;
    transform: translate(calc(-1 * var(--bracket-gap)), -50%);
    opacity: 1;
  }
  .link:hover .with-brackets::after,
  .link:focus-visible .with-brackets::after,
  .link.is-active .with-brackets::after,
  .is-active .with-brackets::after {
    font-weight: 900;
    transform: translate(var(--bracket-gap), -50%);
    opacity: 1;
  }
}

@include respond(max, md) {
}
